.video-item{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.video-item.item img{
    max-width: 180px;
}

.mycontainer{
    position: relative;
    width: 100%;
    height: 300;
    padding-left: 20px;
    
}

.myiframe{
    height: 500px;
    width: 100%;
}